<li [class.completed]="todo.status=='completed'">
  <div class="view pl-4 flex flex-row items-center justify-between  hover:bg-slate-500/10  cursor-pointer rounded">
    <div class="flex flex-row items-center justify-start " [ngClass]=" todo.status=='completed' ? 'text-primary':'text-white'">
      <input (click)="toggleTodo(todo,$event)" class="  cursor-pointer toggle" type="checkbox" [checked]="todo.status=='completed'" />
      @if(todo.status=='completed'){
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-circle-check">
        <circle cx="12" cy="12" r="10" />
        <path d="m9 12 2 2 4-4" />
      </svg>
      }
      @else{
        <button >
          <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" class="lucide lucide-circle">
          <circle cx="12" cy="12" r="10" />
        </svg>
        </button>
     
      }
      <div [class.editing]="isEditing"
        class="flex items-center pl-3 outline-1 -outline-offset-1 outline-white has-[input:focus-within]:outline-2 has-[input:focus-within]:-outline-offset-2 has-[input:focus-within]:outline-indigo-600">
          <textarea #todoInputRef [ngClass]="todo.status=='completed' ? 'line-through text-primary':' text-white'"
          class="h-[65px] resize-none bg-transparent line-clamp-2 block min-w-0 grow py-1.5 pr-3 pl-1 text-sm placeholder:text-white focus:outline-none font-medium "
          id="edit-todo-input" [(ngModel)]="todo.title" (focus)="handleFocus($event)" (blur)="handleBlur($event)"
          (keyup.enter)="updateTodo($event)" ></textarea> 
      </div>
    </div>

  </div>
  <div class="flex flex-row justify-end items-center gap-1">
    <button class="destroy" (click)="removeTodo($event)">
    </button>
  </div>

</li>