<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="detailsOpen"
  cdkConnectedOverlayWidth="60%" (overlayOutsideClick)="detailsOpen = false" [cdkConnectedOverlayPositions]="[
  {
    originX: 'start',
    originY: 'center',
    overlayX: 'end',
    overlayY: 'center',
    offsetX: -10,
  },
  {
    originX: 'start',
    originY: 'top',
    overlayX: 'end',
    overlayY: 'top',
    offsetX: -10,
  },
  {
    originX: 'start',
    originY: 'bottom',
    overlayX: 'end',
    overlayY: 'bottom',
    offsetX: -10,
    offsetY: -10
  }
]" cdkConnectedOverlayPush="true" [cdkConnectedOverlayViewportMargin]="7">
  <ng-content></ng-content>
</ng-template>