<div class="p-4">
  <!-- Tabs -->
  <div class="flex flex-wrap space-x-4 items-center mb-4">
    <button *ngFor="let tab of tabs" (click)="activeTab = tab" [ngClass]="{'font-bold border-b border-b-white ': activeTab === tab}"
      class=" text-xs md:text-base relative line-clamp-1 px-4 py-2  hover:bg-gray-100 dark:hover:bg-gray-700">
      {{ tab }}
    </button>

    <!-- Nút thêm ảnh -->
    <input #fileInput type="file" accept="image/*" hidden (change)="onUploadImage($event)" />
    <button class=" px-4 py-2 bg-gray-800 text-white rounded hover:bg-gray-700" (click)="openFilePicker()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-image-plus">
        <path d="M16 5h6" />
        <path d="M19 2v6" />
        <path d="M21 11.5V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h7.5" />
        <path d="m21 15-3.086-3.086a2 2 0 0 0-2.828 0L6 21" />
        <circle cx="9" cy="9" r="2" />
      </svg>
    </button>
  </div>

  <!-- Grid ảnh -->
  <div *ngIf="getFilteredPhotos().length>0"
    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-4">
    <div *ngFor="let photo of getFilteredPhotos()" (click)="toggleSelection(photo)" [ngClass]="{ 
      'border border-white': selectedBackground()?.url === photo.url, 
      'border-transparent': selectedBackground()?.url !== photo.url 
    }" class="h-24 relative group cursor-pointer rounded overflow-hidden">

      <!-- Ảnh -->
      <img #imageRef (load)="onImageLoad($event)" [src]="photo.url"
        class="w-full h-full object-cover opacity-0 blur-md transition-all duration-700" />
    </div>
  </div>


</div>