<!-- Main Content -->
<section *ngIf="!isLoading$.value" [ngStyle]="{'background-image': 'url(' + selectedBackground()['url'] +')'}"
    class="absolute inset-0 z-0 grid grid-cols-[0px_minmax(auto,_1fr)_0px] grid-rows-[60px_minmax(0,_190px)_auto_minmax(auto,_1fr)_auto] md:grid-rows-[60px_minmax(0,_190px)_auto_minmax(auto,_1fr)_auto]    lg:grid-rows-[60px_minmax(0,_150px)_auto_minmax(auto,_1fr)_auto] overflow-hidden transition-opacity duration-300 bg-cover h-screen bg-center flex-col items-center justify-center bg-afternoon ease-in-out"
    [class.opacity-0]="!show" [class.opacity-100]="show">

    <!-- Header show weather -->
    <!-- After the weather component in the header section -->
    <div *ngIf="settingsStateService.showWeather()"
        class="h-[90px] col-span-full row-start-1 row-span-1 grid grid-cols-[minmax(auto,max-content)_auto] grid-rows-1">
        <!-- Left side header with sounds button or mini player -->
        <div class="col-start-1 col-span-1 row-start-2 row-span-1 flex items-center gap-2">
            <!-- Show sound button when mini player is not visible -->
            <!-- <div *ngIf="settingsStateService.showSounds() && !soundsService.showMiniPlayer()" #soundsBtn
                (click)="openSoundsOverlay(soundsBtn)"
                class="flex items-center justify-center cursor-pointer min-w-8 min-h-8 text-white rounded-full hover:bg-white/20 hover:backdrop-blur-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-music hover:scale-110">
                    <path d="M9 18V5l12-2v13"></path>
                    <circle cx="6" cy="18" r="3"></circle>
                    <circle cx="18" cy="16" r="3"></circle>
                </svg>
            </div> -->

            <!-- Show mini player when active -->
            <!-- <app-sounds-mini-player *ngIf="soundsService.showMiniPlayer()"></app-sounds-mini-player> -->
        </div>
        <!-- Use the new HeaderRightComponent -->
        <!-- <app-header-right class="col-start-2 col-span-1 row-start-2 row-span-1 "
            (openWidget)="openZodiacWidget($event)"></app-header-right> -->
    </div>
    <div class="col-start-2 col-span-1 row-start-2 row-span-1"></div>
    <!-- Center content show clock,mantra -->
    <div @fadeInBottom
        class="col-start-2 col-span-1 row-start-3 row-span-1 m-auto w-full relative flex-col justify-center">
        <div class="-mx-4 flex col-start-2">
            <div class="w-full text-center px-4">
                <div @fadeInBottom>
                    <app-clock *ngIf="settingsStateService.showClock()"></app-clock>
                </div>
                <div [class.opacity-0]="!show" [class.opacity-100]="show" [class.scale-0]="!show"
                    [class.scale-100]="show"
                    class="greeting relative grid items-center grid-cols-[minmax(40px,1fr)_minmax(0,auto)_minmax(40px,1fr)] ">
                    <div></div>
                    <div id="greeting" *ngIf="settingsStateService.showMantra()"
                        class="relative mb-2 text-3xl lg:text-3xl font-medium leading-none text-white sm:text-[30px] md:text-[54px]">
                        <span @fadeInBottom>
                            {{ mantra }}
                            <span *ngIf="!isMantraFromDB()">,</span>
                        </span>

                        <span class="input-wrapper relative inline">
                            <span *ngIf="!isEditing() && !isMantraFromDB()" (dblclick)="enableEditing()">
                                {{ name() }}
                            </span>

                            <input *ngIf="isEditing()" (input)="updateName($event)" [value]="name()"
                                (keydown.enter)="disableEditing()" spellcheck="false" class="name editing  min-w-6  "
                                data-test="name-input" autofocus>
                            <span *ngIf="isEditing()" class="name hidden-span ">
                                {{ name() }}
                            </span>
                        </span>
                    </div>

                    <div></div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-start-2 col-span-1 row-start-3 row-span-1"></div>

    <!-- Footer -->
    <div class="col-span-full row-start-5 row-span-1 grid grid-cols-5 grid-rows-1 p-3">

        <!-- Footer: Show setting -->
        <div class="flex items-center gap-1 ml-4 ">
            <div #triggerSettings="cdkOverlayOrigin" cdkOverlayOrigin (click)="toggleSettingsOverlay()" 
                class="flex items-center justify-center cursor-pointer min-w-8 min-h-8 text-white rounded-full hover:bg-white/20 hover:backdrop-blur-md  ">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-settings-2 hover:scale-110">
                    <path d="M20 7h-9"></path>
                    <path d="M14 17H5"></path>
                    <circle cx="17" cy="17" r="3"></circle>
                    <circle cx="7" cy="7" r="3"></circle>
                </svg>
            </div>

            <ng-template cdkConnectedOverlay 
                [cdkConnectedOverlayOrigin]="triggerSettings" 
                [cdkConnectedOverlayOpen]="isSettingsOverlayOpen"
                cdkConnectedOverlayPanelClass="setting-overlay"
                (overlayOutsideClick)="toggleSettingsOverlay()">
                <app-settings></app-settings>
            </ng-template>

            <div class="relative group cursor-pointer">
                <div
                    class="flex items-center gap-1 px-4 py-2 rounded-[625rem] text-white transition-all duration-300 group-hover:bg-black/10 group-hover:backdrop-blur-md">
                    <!-- Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-book-image transition-transform duration-300 group-hover:scale-110">
                        <path d="m20 13.7-2.1-2.1a2 2 0 0 0-2.8 0L9.7 17"></path>
                        <path
                            d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H19a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H6.5a1 1 0 1 0 0-5H20">
                        </path>
                        <circle cx="10" cy="8" r="2"></circle>
                    </svg>
                    <!-- Location -->
                    <span *ngIf="selectedBackground()['location'] != null" class="text-base opacity-0 -translate-x-2 scale-95 transition-all duration-300
                         group-hover:opacity-100 group-hover:translate-x-0 group-hover:scale-100 whitespace-nowrap">
                        {{ selectedBackground()['location'] }}
                    </span>
                </div>
            </div>
        </div>

        <!-- Footer: Show footer , task -->
        <div *ngIf="settingsStateService.showFooter()" class="col-span-3 col-start-2 row-start-1">
            <app-footer></app-footer>
        </div>
        <div class="col-start-5 row-start-1 flex justify-end items-center  z-10">
            <!-- Task button and overlay -->
            <button *ngIf="settingsStateService.showTask()" #triggerTask="cdkOverlayOrigin" cdkOverlayOrigin (click)="toggleTaskOverlay()" 
                class="min-w-[100px] min-h-[40px] px-4 py-2   rounded-lg text-white z-20">
                <span class="text-lg font-medium">Tasks</span>
            </button>

            <ng-template cdkConnectedOverlay 
                [cdkConnectedOverlayOrigin]="triggerTask" 
                [cdkConnectedOverlayOpen]="isTaskOverlayOpen"
                cdkConnectedOverlayPanelClass="task-overlay"
                (overlayOutsideClick)="toggleTaskOverlay()">
                <app-todos></app-todos>
            </ng-template>
        </div>
    </div>

</section>
<section *ngIf="isLoading$.value"
    class="absolute inset-0 z-0 bg-slate-900 w-full overflow-hidden transition-opacity duration-300 bg-cover h-screen bg-center flex-col items-center justify-center bg-afternoon ease-in-out">
    <div class="w-full h-full flex items-center justify-center">
        <img src="assets/logo.png" alt="logo" class="w-20 h-20">
    </div>
</section>

<app-custom-overlay #zodiacOverlay>
    <div (click)="$event.stopPropagation()">
        <app-zodiac-widget></app-zodiac-widget>
    </div>
</app-custom-overlay>

<app-custom-overlay #soundsOverlay placement="bottom" [offset]="10">
    <div (click)="$event.stopPropagation()">
        <app-sounds></app-sounds>
    </div>
</app-custom-overlay>