
.custom-menu {
  @apply w-[90vw] md:max-w-[720px] max-w-none #{'!important'};
}

.mat-mdc-menu-panel {
  background-color: unset !important;
  box-shadow: unset !important;
}

.cdk-overlay-pane {
  > div {
    height: 90vh !important;
    overflow: hidden !important;
  }
  .mat-mdc-menu-content {
    height: 100% !important;
  }
}

.custom-backdrop {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0); /* Đảm bảo có màu để dễ test */
  // z-index: 1000;
}

.greeting .content {
  display: inline;
}

.name-punctuation-no-wrap {
  white-space: nowrap;
}

.greeting .name-wrapper {
  position: relative;
  white-space: nowrap;
}

.hidden-span {
  visibility: hidden;
}

.greeting .name {
  border-radius: 3px;
  outline: none;
  overflow: hidden;
  vertical-align: top;
  white-space: nowrap;
}
.input-wrapper {
  margin: -5px -2px -8px;
  padding: 5px 2px 8px;
}
input {
  background: none;
  color: #fff;
  font-size: 100%;
}
input.name {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.input-wrapper {
  margin: -5px -2px -8px;
  padding: 5px 2px 8px;
  position: relative;
}

.greeting .name.editing,
.greeting .hidden-span {
  min-width: 1.5em;
}

.greeting .name.editing {
  border: none;
  font-weight: 500;
  text-align: center;
  letter-spacing: normal;
  border-bottom: 0px solid white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  cursor: auto;
}

.greeting .name,
.greeting .hidden-span {
  max-width: min(100%, 12em);
  display: inline-block;
}

ngx-graph {
  width: 100%;
  height: 500px;
}

.node {
  fill: #3b82f6; /* Cool-toned color */
  stroke: #2563eb;
}

.link {
  stroke: #1e3a8a;
}
.mat-drawer-container {
  z-index: 99 !important;
}

.mat-drawer-container {
  background: transparent !important; /* Loại bỏ nền */
}
