<div (click)="keepMenuOpen($event)" class="bg-card h-full rounded-lg flex-col md:flex  overflow-auto overflow-x-hidden custom-scrollbar">
  <div class="w-40 min-w-40 p-4">
    <div class="relative right-0">
      <ul class="relative flex flex-wrap px-1.5 py-1.5 list-none rounded-md dark:bg-gray-950 bg-gray-500 " role="list">
        <li class="z-10 flex-auto text-center min-w-14" *ngFor="let tab of tabs; let i = index">
          <a [ngClass]="{'text-slate-700  dark:text-white rounded-md dark:bg-gray-500 bg-white shadow-md': selectedTab === i}"
            class="z-30 line-clamp-1 flex items-center justify-center w-full px-0 py-2 text-sm mb-0 transition-all ease-in-out border-0 rounded-md cursor-pointer"
            role="tab" [attr.aria-selected]="selectedTab === i" (click)="selectTab(i)">
            {{ tab }}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Menu bên trái -->
  <!-- <mat-nav-list class="w-64 bg-black/90 text-white p-4 justify-start flexs flex-col space-x-4">
    <h2 class="text-xl font-bold mb-4">General</h2>

    <mat-list-item  class="text-xl text-white text-start" (click)="selectedTab = 'general'" [class.active]="selectedTab === 'general'">
      <span>General</span>
    </mat-list-item>

    <mat-list-item  class="text-xl text-white text-start" (click)="selectedTab = 'appearance'" [class.active]="selectedTab === 'appearance'">
      <span>Appearance</span>
    </mat-list-item>

    <mat-list-item  class="text-xl text-white text-start" (click)="selectedTab = 'weather'" [class.active]="selectedTab === 'weather'">
      <span>Weather</span>
    </mat-list-item>

    <mat-list-item  class="text-xl text-white text-start" (click)="selectedTab = 'tasks'" [class.active]="selectedTab === 'tasks'">
      <span>Tasks</span>
    </mat-list-item>
  </mat-nav-list> -->

  <!-- Nội dung tương ứng bên phải -->
  <div class="flex-1  text-white p-4">
    <div *ngIf="selectedTab === 0">
      <h3 class="text-white text-lg font-semibold mb-2">Appearance</h3>
      <button (click)="toggleDarkMode()"
        class="relative w-12 h-6 bg-gray-300 dark:bg-gray-700 rounded-full flex items-center transition-all group"
        role="switch" [attr.aria-checked]="darkMode">

        <!-- Nút trượt -->
        <span
          class="absolute w-5 h-5  bg-white dark:bg-gray-900 rounded-full shadow-md transform transition-all group-hover:scale-105"
          [class.translate-x-6]="darkMode" [class.translate-x-1]="!darkMode">
          <!-- Icon Sun (Light Mode) -->
          <div class="flex justify-center items-center w-4 h-4 text-white absolute  transition-all"
            [class.opacity-0]="darkMode" [class.opacity-100]="!darkMode">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="4" />
              <path d="M12 2v2" />
              <path d="M12 20v2" />
              <path d="m4.93 4.93 1.41 1.41" />
              <path d="m17.66 17.66 1.41 1.41" />
              <path d="M2 12h2" />
              <path d="M20 12h2" />
              <path d="m6.34 17.66-1.41 1.41" />
              <path d="m19.07 4.93-1.41 1.41" />
            </svg>
          </div>

          <!-- Icon Moon (Dark Mode) -->
          <div class="flex justify-center items-center w-4 h-4 text-white absolute  transition-all"
            [class.opacity-0]="!darkMode" [class.opacity-100]="darkMode">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z" />
            </svg>
          </div>
        </span>
      </button>

    </div>

    <div *ngIf="selectedTab === 1">

      <app-photos></app-photos>
    </div>


  </div>
</div>