<!-- pomodoro.component.html -->
<!-- <div
    @fadeIn
    class="pomodoro-container"
>
    <circle-progress
        [percent]="progressPercent()"
        [radius]="300"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="outerStrokeColor()"
        [innerStrokeColor]="innerStrokeColor()"
        [animation]="true"
        [animationDuration]="300"
        class="circle"
    >

    </circle-progress>

    <div class="countdown-text flex flex-col gap-4 items-center justify-center ">
        <span class="text-2xl">{{ statusText() }}</span>
        <span class="text-3xl">{{ formatTime(currentTime()) }}</span>
        <button
            type="button"
            (click)="toggleTimer()"
            class=" w-20 text-center inline-flex items-center rounded-md bg-transparent px-3 py-2 text-sm font-semibold border border-white text-white shadow-sm hover:bg-indigo-500/5 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600/5"
        >
            {{ isRunning() ? "Pause" : "Start" }}
        </button>
    </div>
</div> -->
