/* ----------------------------------------------------------------------------------------------------- */
/*  @ Angular Material CDK helpers & overrides
/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */
/*  @ Buttons
/* ----------------------------------------------------------------------------------------------------- */
.mat-button,
.mat-fab,
.mat-flat-button,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button,
.mat-stroked-button {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    line-height: 1 !important;

    .mat-button-wrapper {
        position: relative;
        display: inline-flex !important;
        align-items: center;
        justify-content: center;
        height: 100%;
        z-index: 2;
        /* Move mat-button-wrapper above the ripple and focus overlay */
    }

    .mat-button-focus-overlay,
    .mat-button-ripple {
        z-index: 1;
    }

    /* Large button */
    &.fuse-mat-button-large {
        height: 48px;
        min-height: 48px;
        max-height: 48px;
    }

    /* Lower the icon opacity on disabled buttons */
    &.mat-button-disabled {
        @apply cursor-not-allowed #{'!important'};

        .mat-icon {
            opacity: 0.38 !important;
        }
    }
}

.mat-fab {
    max-height: 56px;
}

/* Rounded design */
.mat-button,
.mat-flat-button,
.mat-raised-button,
.mat-stroked-button {
    padding: 0 20px !important;
    border-radius: 9999px !important;
}

/* Target all buttons */
.mat-button,
.mat-fab,
.mat-flat-button,
.mat-icon-button,
.mat-fab,
.mat-mini-fab,
.mat-raised-button,
.mat-stroked-button {
    /* mat-progress-spinner inside buttons */
    .mat-progress-spinner {
        &.mat-progress-spinner-indeterminate-animation[mode="indeterminate"] {
            circle {
                stroke: currentColor !important;
                animation-duration: 6000ms;
            }
        }
    }
}

/* Colored background buttons */
.mat-flat-button,
.mat-raised-button,
.mat-fab,
.mat-mini-fab {
    .mat-icon {
        color: currentColor;
    }

    &.mat-accent {
        @apply text-white #{'!important'};
    }

    /* Add hover and focus style on all buttons */
    .mat-button-focus-overlay {
        @apply bg-gray-400 bg-opacity-20 dark:bg-black dark:bg-opacity-5 #{'!important'};
    }

    /* On palette colored buttons, use a darker color */
    &.mat-primary,
    &.mat-accent,
    &.mat-warn {
        .mat-button-focus-overlay {
            background-color: rgba(0, 0, 0, 0.1) !important;
        }
    }

    &:hover,
    &.cdk-keyboard-focused,
    &.cdk-program-focused {
        .mat-button-focus-overlay {
            opacity: 1 !important;
        }
    }

    @media (hover: none) {
        &:hover {
            .mat-button-focus-overlay {
                opacity: 0 !important;
            }
        }
    }

    &.mat-button-disabled {
        @apply cursor-not-allowed #{'!important'};

        .mat-button-focus-overlay {
            opacity: 0 !important;
        }
    }
}

/* Transparent background buttons */
.mat-button,
.mat-icon-button,
.mat-stroked-button {
    /* Apply primary color */
    &.mat-primary:not(.mat-button-disabled) {
        .mat-icon {
            @apply text-primary #{'!important'};
        }
    }

    /* Apply accent color */
    &.mat-accent:not(.mat-button-disabled) {
        .mat-icon {
            @apply text-accent #{'!important'};
        }
    }

    /* Apply warn color */
    &.mat-warn:not(.mat-button-disabled) {
        .mat-icon {
            @apply text-warn #{'!important'};
        }
    }

    /* Add hover and focus styles */
    .mat-button-focus-overlay {
        @apply bg-gray-400 bg-opacity-20 dark:bg-black dark:bg-opacity-5 #{'!important'};
    }

    /* On primary colored buttons, use the primary color as focus overlay */
    &.mat-primary:not(.mat-button-disabled) {
        .mat-button-focus-overlay {
            @apply bg-primary #{'!important'};
        }
    }

    /* On accent colored buttons, use the accent color as focus overlay */
    &.mat-accent:not(.mat-button-disabled) {
        .mat-button-focus-overlay {
            @apply bg-accent #{'!important'};
        }
    }

    /* On warn colored buttons, use the warn color as focus overlay */
    &.mat-warn:not(.mat-button-disabled) {
        .mat-button-focus-overlay {
            @apply bg-warn #{'!important'};
        }
    }

    &.mat-primary:not(.mat-button-disabled),
    &.mat-accent:not(.mat-button-disabled),
    &.mat-warn:not(.mat-button-disabled) {
        &:hover,
        &.cdk-keyboard-focused,
        &.cdk-program-focused {
            .mat-button-focus-overlay {
                opacity: 0.1 !important;
            }
        }
    }

    &:hover,
    &.cdk-keyboard-focused,
    &.cdk-program-focused {
        .mat-button-focus-overlay {
            opacity: 1 !important;
        }
    }

    @media (hover: none) {
        &:hover {
            .mat-button-focus-overlay {
                opacity: 0 !important;
            }
        }
    }

    &.mat-button-disabled {
        @apply cursor-not-allowed #{'!important'};

        .mat-button-focus-overlay {
            opacity: 0 !important;
        }
    }
}

/* Raised buttons */
.mat-raised-button {
    &.mat-button-disabled {
        @apply bg-gray-300 cursor-not-allowed #{'!important'};
    }
}

/* Stroked buttons */
.mat-stroked-button {
    /* Border color */
    &:not(.mat-button-disabled) {
        @apply border-gray-300 dark:border-gray-500 #{'!important'};
    }

    &.mat-accent:not(.mat-button-disabled) {
        @apply border-accent #{'!important'};
    }

    &.mat-primary:not(.mat-button-disabled) {
        @apply border-primary #{'!important'};
    }

    &.mat-button-disabled {
        @apply cursor-not-allowed border-gray-200 dark:border-gray-600 #{'!important'};
    }
}

/* ----------------------------------------------------------------------------------------------------- */
/*  @ Button Toggle
/* ----------------------------------------------------------------------------------------------------- */
.mat-button-toggle-group {
    border: none !important;
    @apply space-x-1;

    &.mat-button-toggle-group-appearance-standard {
        .mat-button-toggle + .mat-button-toggle {
            background-clip: padding-box;
        }
    }

    .mat-button-toggle {
        border-radius: 9999px;
        overflow: hidden;
        border: none !important;
        font-weight: 500;

        &.mat-button-toggle-checked {
            .mat-button-toggle-label-content {
                @apply text-default #{'!important'};
            }
        }

        .mat-button-toggle-label-content {
            padding: 0 20px;
            @apply text-secondary;
        }

        .mat-ripple {
            border-radius: 9999px;
        }
    }
}